.Rproj.user
.Rhistory
.RData
.Ruserdata
chapter1.RData
chapter2.RData
chapter3.RData
chapter4.RData
chapter5.RData
chapter6.rds
chapter7.rds
chapter8.rds
wordcloud_chapter3.png
wordcloud_chapter4.png
wordcloud_chapter5.png
wordcloud_chapter6.png
wordcloud_chapter7.png
wordcloud_chapter8.png
perseus.Rproj
tex_minig_iliad_cache
tex_minig_iliad_files
